nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: #000000;


}

.logo {
    text-decoration: none;
    color: inherit;
}


.right-section {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;

    li a{
        text-decoration: none;
        color: inherit;
        margin: 0 20px;
    }
}


.user-section {
    button {
        margin: 0 2px;
        padding: 10px 20px;
        background-color: #ecececc9;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: small;
        border-radius: 10px;


        a{
            text-decoration: none;
            color: black;
        }
    }
    .signup-btn:hover {
        background-color: #ecececf0;
    }
    .login-btn {
        background-color: #2486e2;
        a{
            text-decoration: none;
            color: white;
        }
        
        &:hover {
            background-color: #2486e2f3;
        }
    }
}
